@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/MaterialIconsOutlined/woff2/Material_Icons_Outlined-400-fallback.woff2') format('woff2'), url('../assets/fonts/MaterialIconsOutlined/ttf/Material_Icons_Outlined-400.otf') format('opentype');
}

.material-icons-outlined {
  direction: ltr;
  display: inline-block;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Material Icons Outlined';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}
