/* latin-ext */
@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 100;
   src: url("../assets/fonts/Poppins/woff2/Poppins-100-normal-latin-ext.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-100-normal.ttf") format('ttf');
   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 200;
   src: url("../assets/fonts/Poppins/woff2/Poppins-200-normal-latin-ext.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-200-normal.ttf") format('ttf');
   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 300;
   src: url("../assets/fonts/Poppins/woff2/Poppins-300-normal-latin-ext.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-300-normal.ttf") format('ttf');
   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   src: url("../assets/fonts/Poppins/woff2/Poppins-400-normal-latin-ext.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-400-normal.ttf") format('ttf');
   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   src: url("../assets/fonts/Poppins/woff2/Poppins-500-normal-latin-ext.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-500-normal.ttf") format('ttf');
   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   src: url("../assets/fonts/Poppins/woff2/Poppins-600-normal-latin-ext.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-600-normal.ttf") format('ttf');
   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   src: url("../assets/fonts/Poppins/woff2/Poppins-700-normal-latin-ext.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-700-normal.ttf") format('ttf');
   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 800;
   src: url("../assets/fonts/Poppins/woff2/Poppins-800-normal-latin-ext.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-800-normal.ttf") format('ttf');
   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 900;
   src: url("../assets/fonts/Poppins/woff2/Poppins-900-normal-latin-ext.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-900-normal.ttf") format('ttf');
   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 100;
   src: url("../assets/fonts/Poppins/woff2/Poppins-100-normal-latin.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-100-normal.ttf") format('ttf');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 200;
   src: url("../assets/fonts/Poppins/woff2/Poppins-200-normal-latin.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-200-normal.ttf") format('ttf');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 300;
   src: url("../assets/fonts/Poppins/woff2/Poppins-300-normal-latin.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-300-normal.ttf") format('ttf');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   src: url("../assets/fonts/Poppins/woff2/Poppins-400-normal-latin.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-400-normal.ttf") format('ttf');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   src: url("../assets/fonts/Poppins/woff2/Poppins-500-normal-latin.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-500-normal.ttf") format('ttf');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   src: url("../assets/fonts/Poppins/woff2/Poppins-600-normal-latin.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-600-normal.ttf") format('ttf');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   src: url("../assets/fonts/Poppins/woff2/Poppins-700-normal-latin.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-700-normal.ttf") format('ttf');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 800;
   src: url("../assets/fonts/Poppins/woff2/Poppins-800-normal-latin.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-800-normal.ttf") format('ttf');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 900;
   src: url("../assets/fonts/Poppins/woff2/Poppins-900-normal-latin.woff2") format('woff2'), url("../assets/fonts/Poppins/ttf/Poppins-900-normal.ttf") format('ttf');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

